a:visited{
    color: black;
}

a:hover{
    color: cadetblue;
}

a:link{
    color: blueviolet;
}

a:active{
    color: brown;
}

p{
    transition: 500ms ease-in-out;
}

p:hover{
    color: blue;
    font-size: 40px;
}

p i:hover{
    color: firebrick;
}