.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: firebrick;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: aqua;
}

.item3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: blueviolet;
}

.item4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: chartreuse;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: yellow;
}

.item6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: teal;
}

.item7 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: silver;
}

.item8 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: royalblue;
}

.container {
    display: grid;
    gap: 20px;
}

.container>div {
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    justify-content: center;
}

div {
    padding: 40px 0;
}
